@import "tailwindcss";

@theme {
  --color-inverse-primary: #006976;
  --color-outline: #6d758c;
  --color-tertiary: #a68cff;
  --color-on-secondary-container: #c5d1e8;
  --color-secondary-container: #3c475a;
  --color-surface-bright: #1f2b49;
  --color-error-container: #9f0519;
  --color-surface-tint: #81ecff;
  --color-tertiary-dim: #7e51ff;
  --color-on-surface-variant: #a3aac4;
  --color-on-secondary-fixed: #354053;
  --color-outline-variant: #40485d;
  --color-on-primary-fixed-variant: #005762;
  --color-primary-fixed-dim: #00d4ec;
  --color-on-surface: #dee5ff;
  --color-background: #060e20;
  --color-secondary: #d8e3fb;
  --color-surface-container-low: #091328;
  --color-surface: #060e20;
  --color-primary-dim: #00d4ec;
  --color-error: #ff716c;
  --color-surface-container-highest: #192540;
  --color-on-error: #490006;
  --color-tertiary-fixed-dim: #ab93ff;
  --color-on-error-container: #ffa8a3;
  --color-surface-variant: #192540;
  --color-surface-container-lowest: #000000;
  --color-primary-container: #00e3fd;
  --color-tertiary-container: #7c4dff;
  --color-inverse-surface: #faf8ff;
  --color-on-primary-container: #004d57;
  --color-on-primary-fixed: #003840;
  --color-on-primary: #005762;
  --color-tertiary-fixed: #b8a3ff;
  --color-secondary-dim: #cad5ed;
  --color-on-secondary: #475266;
  --color-inverse-on-surface: #4d556b;
  --color-on-tertiary-fixed: #1c0055;
  --color-surface-dim: #060e20;
  --color-on-tertiary-fixed-variant: #4000ad;
  --color-surface-container-high: #141f38;
  --color-primary-fixed: #00e3fd;
  --color-secondary-fixed: #d8e3fb;
  --color-on-tertiary: #25006b;
  --color-on-background: #dee5ff;
  --color-error-dim: #d7383b;
  --color-on-tertiary-container: #ffffff;
  --color-secondary-fixed-dim: #cad5ed;
  --color-surface-container: #0f1930;
  --color-on-secondary-fixed-variant: #515c70;
  --color-primary: #81ecff;

  --font-headline: "Plus Jakarta Sans", sans-serif;
  --font-body: "Manrope", sans-serif;
  --font-label: "Inter", sans-serif;
}

@layer utilities {
  .glass-panel {
      background: rgba(60, 71, 90, 0.4);
      backdrop-filter: blur(16px);
      -webkit-backdrop-filter: blur(16px);
  }
  .material-symbols-outlined {
      font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .active-glow {
      box-shadow: 0 0 15px rgba(129, 236, 255, 0.15);
  }
  .heatmap-overlay {
      background: radial-gradient(circle at 40% 50%, rgba(0, 229, 255, 0.15) 0%, transparent 60%),
                  radial-gradient(circle at 60% 30%, rgba(166, 140, 255, 0.1) 0%, transparent 50%);
  }
  .obsidian-glow {
      box-shadow: 0 0 40px -10px rgba(129, 236, 255, 0.15);
  }
}

@keyframes shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(400%); }
}
